<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fidzup.android.cmp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name=".activity.main.MainConsentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CMPTheme"/>

        <activity android:name=".activity.VendorListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CMPTheme" />

        <activity android:name=".activity.VendorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CMPTheme" />

        <activity android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CMPTheme" />
    </application>
</manifest>
